<div class="container">
  <!-- Left Panel -->
  <div class="left-panel">
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav mode="side" opened class="sidenav">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
          <a mat-list-item routerLink="{{SwapiEntityType.Films}}">Films</a>
          <a mat-list-item routerLink="{{SwapiEntityType.People}}">Characters</a>
        </mat-nav-list>
      </mat-sidenav>
    </mat-sidenav-container>
  </div>
  
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>